/* CSS styles are applied prioritizing styles that are dictated later in the code,
OR prioritizing ID, then Class, then Elements. */

* {
    /* This tells every element on the page not to have margin or padding unless we explicitly tell it to
    The asterisk is known as a Universal selector */
    margin: 0;
    padding: 0;
}

header {
    /* Padding and margin is applied in order of Top, Right, Bottom, Left
    OR you can only use one pixel value to apply that value to every side
    OR you can use two pixel values to apply those to the top and bottom, and then the left and right, respectively */
    padding: 20px 35px;
    background-color: #39a6b2;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    display: inline;
}

header a {
    text-decoration: none;
    color: #fce138;
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}